<!-- ###TEMPLATE_FORM1### begin -->


###master_multipart-form-start_contact-form###
  ###master_section-start###
        ###master_input_company###
        ###master_input_department###
        ###master_gender###
        
        ###master_input_firstname###
        ###master_input_lastname###

        ###master_input_email###
        ###master_input_street###
        ###master_input_postalcode###
        ###master_input_city###
        ###master_input_telephone###
        ###master_textarea_message###
  ###master_section-end###
  ###master_section-start###
        ###master_interests###
  ###master_section-end###
  ###master_section-start###
        ###master_checkbox_newsletter###
  ###master_section-end###
  ###master_section-start###
        ###master_submit###
  ###master_section-end###
  ###master_mandatory###
###master_form-end###


<!-- ###TEMPLATE_FORM1### end -->


<!-- ###TEMPLATE_SUBMITTEDOK### begin -->

<p>Vielen Dank für Ihre Nachricht. Wir werden diese so schnell wie möglich bearbeiten.</p>


<!-- ###TEMPLATE_SUBMITTEDOK### end -->


<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->
###master_email-admin-start-plain###

###master_email-line-plain_company###
###master_email-line-plain_department###
###master_email-line-plain_gender###
###master_email-line-plain_firstname###
###master_email-line-plain_lastname###
###master_email-line-plain_email###
###master_email-line-plain_street###
###master_email-line-plain_postalcode###
###master_email-line-plain_city###
###master_email-line-plain_telephone###

###master_email-line-plain_interests###

###master_email-line-plain_message###

###master_email-line-plain_newsletter###

###master_email-admin-end-plain###
<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->
###master_email-admin-start-html###

###master_email-line-html_company###
###master_email-line-html_department###
###master_email-line-html_gender###
###master_email-line-html_firstname###
###master_email-line-html_lastname###
###master_email-line-html_email###
###master_email-line-html_street###
###master_email-line-html_postalcode###
###master_email-line-html_city###
###master_email-line-html_telephone###

###master_email-line-html_interests###

###master_email-line-html_message###

###master_email-line-html_newsletter###

###master_email-admin-end-html###
<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->

